.hero-descr {
  position: relative;
  padding: 100px 0;
  background-color: var(--color-bg-light-gray);

  @include macbook {
    padding: 50px 0;
  }

  @include mobile-m {
    padding: 30px 0;
  }

  &__text-inner {
    @include flex;

    margin: 0 auto;
    width: 100%;
    max-width: 768px;

    @include mobile-m {
      flex-direction: column;
    }
  }

  &__text {
    margin: 0;
    margin-right: 40px;
    max-width: 360px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;

    @include mobile-l {
      margin-right: 20px;
      font-size: 13px;
    }

    @include mobile-m {
      margin: 0;
      margin-bottom: 10px;
      max-width: 520px;
      width: 100%;
    }
  }

  &__text-btn {
    display: block;
  }

  &__text-right {
    margin: 0;
    margin-bottom: 41px;
    max-width: 343px;
    font-size: 13px;

    @include mobile-m {
      margin: 0;
      margin-bottom: 30px;
      max-width: 450px;
      width: 100%;
    }
  }

  &__btn {
    border-radius: 6px;
    padding: 11px 18px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-white);
    background-color: var(--color-dark-green);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

    &:hover {
      padding: 8px 15px;
      border: 3px solid var(--color-dark-green);
      color: var(--color-dark-green);
      background-color: var(--color-bg-light-gray);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-dark-green);
      border: 3px solid var(--color-dark-green);
    }
  }
}
