.house {
  padding-top: 100px;

  @include macbook {
    padding-top: 50px;
  }

  @include mobile-l {
    padding-top: 50px;
  }

  @include mobile-m {
    padding: 30px 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 140px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: var(--color-dark-green);

    @include macbook {
      margin-bottom: 50px;
      font-size: 62px;
    }

    @include mobile-m {
      margin: 0;
      // margin-bottom: 30px;
      font-size: 52px;
    }

    @include mobile-s {
      font-size: 42px;
    }
  }

  &__img {
    width: 100%;
  }
}
