/* stylelint-disable */

@mixin big-desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: (1200px)) {
    @content;
  }
}

@mixin macbook {
  @media (max-width: (992px)) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin mobile-m {
  @media (max-width: (576px)) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: (376px)) {
    @content;
  }
}
