<section class="booked">
  <div class="container">


    <div class="booked__inner">
      <div class="orange-line"></div>
      <h2 class="booked__title">
        We're already booked up for the spring — hurry up & secure your stay for the summer.
      </h2>
      <p class="booked__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.
      </p>

      <div class="booked__btns">
        <a class="booked__contact" href="#">Contact</a>
        <a class="booked__book-now" href="#">Book now</a>
      </div>
    </div>


  </div>
</section>
