<footer class="footer">
  <div class="container">


    <div class="footer__inner-top">
      <ul class="footer__pages list-reset">
        <li class="footer__pages-item">
          <h4 class="footer__subtitle footer__subtitle--pages">Pages</h4>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Start</a>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Contact</a>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Our history</a>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Licenses</a>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Instruction</a>
        </li>
        <li class="footer__pages-item">
          <a class="footer__pages-link" href="#">Style guide</a>
        </li>
      </ul>

      <div class="footer__social">
        <h4 class="footer__subtitle footer__subtitle--social">Social Media</h4>
        <ul class="footer__social-list list-reset">
          <li class="footer__social-item">
            <a class="footer__social-icon" href="#">
              <svg class="footer__social-air">
                <use xlink:href="img/sprite.svg#footer-icon-air"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-icon" href="#">
              <svg class="footer__social-facebook">
                <use xlink:href="img/sprite.svg#footer-icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-icon" href="#">
              <svg class="footer__social-instagram">
                <use xlink:href="img/sprite.svg#footer-icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <form class="footer__form">
        <h4 class="footer__subtitle">Newsletter</h4>
        <p class="footer__form-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
        <label for="#" class="footer__label">
          <input class="footer__input" type="text" name="input" placeholder="Email" required>
          <button class="footer__btn" type="submit">Submit</button>
        </label>
      </form>
    </div>

    <div class="footer__inner-bottom">
      <a class="footer__logo" href="#">
        <img class="logo" src="img/logo.svg" width="200" height="70" alt="footer site logo">
      </a>
      <small class="footer__copyright">© Guest House, LLC. All rights reserved. Powered by Webflow.</small>
      <ul class="footer__contacts list-reset">
        <li class="footer__contacts-item">
          <a class="footer__phone-link" href="tel:+470702881234">
            +47 (0) 702 88 12 34
          </a>
        </li>
        <li class="footer__contacts-item">
          <a class="footer__mail-link" href="mailto:example@webflow.io">
            example@webflow.io
          </a>
        </li>
        <li class="footer__contacts-item">
          <a class="footer__address-link" href="#">
            Klubbvika 12, 8310 Kabelvag, Norway
          </a>
        </li>
      </ul>
    </div>


  </div>
</footer>
