<section class="hero">
  <div class="container">
    <div class="hero__inner">

      <img class="hero__logo" src="img/hero-logo.png" width="256" alt="big site logo">
      <h1 class="hero__title title">
        Experience the perfect combination of&nbsp;modern housing &amp;&nbsp;natural scenery.
      </h1>
      <p class="hero__text text">
        Located in&nbsp;Lofoten, norway
      </p>
      <a href="#" class="hero__icon">
        <img class="hero__icon-link" src="img/link-icon.png" width="60" alt="section hero link icon">
      </a>

    </div>
  </div>
</section>
