<section class="hero" style="background-image: url('img/hero-bg.jpg');">
  <h1 class="visually-hidden">Guest House</h1>
  <div class="container">
    <div class="hero__inner">
      <picture>
        <source srcset="img/hero-logo.avif" type="image/avif">
        <source srcset="img/hero-logo.webp" type="image/webp">
        <img class="hero__logo" src="img/hero-logo.png" loading="lazy" width="256" alt="big site logo"
          data-aos="fade-up" data-aos-duration="1500">
      </picture>
      <h2 class="hero__title title" data-aos="fade-up" data-aos-duration="2200">
        Experience the perfect combination of&nbsp;modern housing &amp;&nbsp;natural scenery.
      </h2>
      <p class="hero__text text" data-aos="fade-up" data-aos-duration="2500">
        Located in&nbsp;Lofoten, norway
      </p>
      <a href="#hero-descr" class="hero__icon">
        <picture>
          <source srcset="img/link-icon.avif" type="image/avif">
          <source srcset="img/link-icon.webp" type="image/webp">
          <img class="hero__icon-link" src="img/link-icon.png" loading="lazy" width="60" alt="section hero link icon"
            data-aos="fade-up" data-aos-duration="3000">
        </picture>
      </a>
    </div>
  </div>
</section>
