<section class="past">
  <div class="container">
    <div class="orange-line"></div>
    <div class="past__top-inner">
      <h2 class="past__title">Past guests.</h2>
      <p class="past__text">
        Don't take our word for it! Have a look at what our previous guests say about their stay at the Guest House.
      </p>
    </div>
    <div class="past__slider">
      <ul class="past__feedback list-reset">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="past__slide-width">
                <li class="past__item past__item--nate">
                  <div class="past__stars" aria-label="Rating is 5 stars">
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <h3 class="past__subtitle">
                    We had an amazing stay at the Guest House!
                  </h3>
                  <p class="past__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                    vitae
                    erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                    tristique
                    posuere.
                  </p>
                  <span class="past__author past__author--line">Nate Davidsson</span>
                </li>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="past__slide-width">
                <li class="past__item">
                  <div class="past__stars" aria-label="Rating is 4 stars">
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star-empty"></use>
                    </svg>
                  </div>
                  <h3 class="past__subtitle">
                    Beautiful little hideaway.
                  </h3>
                  <p class="past__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                    vitae
                    erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                  </p>
                  <span class="past__author past__author--line">Laura Paulie</span>
                </li>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="past__slide-width">
                <li class="past__item">
                  <div class="past__stars" aria-label="Rating is 5 stars">
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <h3 class="past__subtitle">
                    Best vacation ever!
                  </h3>
                  <p class="past__descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.
                  </p>
                  <span class="past__author past__author--line">Greg Todd</span>
                </li>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="past__slide-width">
                <li class="past__item">
                  <div class="past__stars" aria-label="Rating is 4 stars">
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star"></use>
                    </svg>
                    <svg>
                      <use href="img/svg/sprite.svg#star-empty"></use>
                    </svg>
                  </div>
                  <h3 class="past__subtitle">
                    Super cozy!
                  </h3>
                  <p class="past__descr">
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                    Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                    posuere.
                  </p>
                  <span class="past__author past__author--line">Sven Dunlop</span>
                </li>
              </div>
            </div>
          </div>
        </div>
      </ul>
      <div class="past__btns">
        <button class="swiper-button-prev swiper-button-prev--left"
          aria-label="button to switch the slide to the left"></button>
        <button class="swiper-button-next swiper-button-next--right"
          aria-label="button to switch the slide to the right"></button>
      </div>
    </div>
  </div>
</section>
