<section class="perfect">
  <div class="container">


    <div class="perfect__top-inner">
      <div class="orange-line perfect__orange-line"></div>
      <h2 class="perfect__title">The perfect escape.</h2>
      <p class="perfect__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla
        rhoncus feugiat eros quis consectetur.
      </p>
    </div>

    <ul class="perfect__list list-reset">
      <li class="perfect__item perfect__item--kitchen">
        <h3 class="perfect__subtitle">Modern Kitchen Appliances</h3>
        <p class="perfect__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="perfect__item perfect__item--conditioner">
        <h3 class="perfect__subtitle">Air Conditioner</h3>
        <p class="perfect__descr">
          Nullam scelerisque aliquam odio et faucibus.
        </p>
      </li>
      <li class="perfect__item perfect__item--paths">
        <h3 class="perfect__subtitle">Outdoor Paths</h3>
        <p class="perfect__descr">
          Nulla rhoncus feugiat eros quis consectetur.
        </p>
      </li>
      <li class="perfect__item perfect__item--storage">
        <h3 class="perfect__subtitle">Storage Solutions</h3>
        <p class="perfect__descr">
          Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.
        </p>
      </li>
      <li class="perfect__item perfect__item--coffee">
        <h3 class="perfect__subtitle">Coffee Maker</h3>
        <p class="perfect__descr">
          Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
        </p>
      </li>
      <li class="perfect__item perfect__item--cutlery">
        <h3 class="perfect__subtitle">Cutlery Selection</h3>
        <p class="perfect__descr">
          Duis tristique sed lorem a vestibulum.
        </p>
      </li>
      <li class="perfect__item perfect__item--natural">
        <h3 class="perfect__subtitle">Natural Scenery</h3>
        <p class="perfect__descr">
          Cras commodo consequat orci, in convallis risus egestas non.
        </p>
      </li>
      <li class="perfect__item perfect__item--take-away">
        <h3 class="perfect__subtitle">Take-away Options</h3>
        <p class="perfect__descr">
          Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.
        </p>
      </li>
    </ul>


  </div>
</section>
