<section class="sleeping">
  <picture>
    <source srcset="img/house-kitchen.avif" type="image/avif">
    <source srcset="img/house-kitchen.webp" type="image/webp">
    <source srcset="img/house-kitchen.jpg">
    <img class="sleeping__img" src="img/house-kitchen.jpg" loading="lazy" width="1440" alt="dining room photography">
  </picture>
  <div class="container">
    <div class="orange-line"></div>
    <h2 class="sleeping__title" data-aos="fade-up" data-aos-duration="3000">
      Sleeping arrangements.
    </h2>
    <p class="sleeping__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla
      rhoncus feugiat eros quis consectetur.
    </p>
    <ul class="sleeping__options list-reset">
      <li class="sleeping__item sleeping__item--beds">
        <span class="sleeping__options-title" data-aos="fade-up" data-aos-duration="2500">Beds</span>
        <p class="sleeping__options-text" data-aos="fade-up" data-aos-duration="3000">
          The cabin is equipped with 12 beds, 4 of which are in bunk. The rent includes linens for all beds.
        </p>
      </li>
      <li class="sleeping__item sleeping__item--bedrooms">
        <span class="sleeping__options-title" data-aos="fade-up" data-aos-duration="2500">Bedrooms</span>
        <p class="sleeping__options-text" data-aos="fade-up" data-aos-duration="3000">
          Spread out over two floors, the cabin offers 4 bedrooms. Ranging from 2 to 4 beds per room.
        </p>
      </li>
      <li class="sleeping__item sleeping__item--bathrooms">
        <span class="sleeping__options-title" data-aos="fade-up" data-aos-duration="2500">Bathrooms</span>
        <p class="sleeping__options-text" data-aos="fade-up" data-aos-duration="3000">
          The cabin has three bathrooms, all equipped with showers and one with a bath tub.
        </p>
      </li>
    </ul>
  </div>
</section>
