<section class="together">
  <img class="together__img" src="img/together-bg.jpg" width="1440" alt="bedroom photo">
  <div class="container">


    <div class="together__inner">
      <div class="together__left-inner">
        <div class="orange-line together__orange-line"></div>
        <h2 class="together__title">Come together.</h2>
        <p class="together__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.
        </p>
      </div>

      <div class="together__right-inner">
        <ul class="together__list list-reset">
          <li class="together__item">
            <p class="together__descr together__descr--wifi">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </li>
          <li class="together__item">
            <p class="together__descr together__descr--bread">
              Nullam scelerisque aliquam odio et faucibus.
            </p>
          </li>
          <li class="together__item">
            <p class="together__descr together__descr--crane">
              Nulla rhoncus feugiat eros quis consectetur.
            </p>
          </li>
          <li class="together__item">
            <p class="together__descr together__descr--dining">
              Morbi neque ex, condimentum.
            </p>
          </li>
        </ul>
      </div>
    </div>


  </div>
</section>
